<header class="site-header">
    <div class="container">
        <div class="logo-container">
            <img src="/images/logo.svg" alt="Pearlworth Foundation School Logo" class="school-logo">
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li class="dropdown">
                    <a href="about-us.html" class="dropdown-toggle">About <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/staff">Staff</a></li>
                    </ul>
                </li>
                <li><a href="/admissions">Admissions</a></li>
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle">Resources <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/resources">School Circular</a></li>
                        <li><a href="/workbooks">Workbooks</a></li>
                    </ul>
                </li>
                <li><a href="/school_life">School Life</a></li>
                <li><a href="/support">Support Us</a></li>
            </ul>
        </nav>
        <div class="header-cta">
                <a href="/contact" class="contact-button">Contact Us</a>
        </div>
    </div>
</header>

<!-- Off-canvas menu structure -->
<div class="off-canvas-menu">
    <div class="off-canvas-exit">
        <span></span>
        <span></span>
    </div>
    <nav class="off-canvas-nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li class="off-canvas-dropdown">
                    <a href="/about" class="off-canvas-dropdown-toggle">About <i class="fas fa-chevron-down"></i></a>
                <ul class="off-canvas-dropdown-menu">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/staff">Staff</a></li>
                </ul>
            </li>
            <li><a href="/admissions">Admissions</a></li>
            <li class="off-canvas-dropdown">
                <a href="/" class="off-canvas-dropdown-toggle">Resources <i class="fas fa-chevron-down"></i></a>
                <ul class="off-canvas-dropdown-menu">
                    <li><a href="/resources">School Circular</a></li>
                    <li><a href="/workbooks">Workbooks</a></li>
                </ul>
            </li>
            <li><a href="/school_life">School Life</a></li>
            <li><a href="/support">Support Us</a></li>
            <li><a href="/contact" class="off-canvas-contact-button">Contact Us</a></li>
        </ul>
    </nav>
</div>

<div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</div>